<ion-menu *ngIf="this.storageService.getUser()" side="left" id="authenticated" [content]="content">
    <ion-header>
        <ion-toolbar class="user-profile">
  
            <ion-grid>
                <ion-row>
                    <ion-col col-4>
                        <div (click)="openModalUpdate()"    menuClose class="user-avatar">
                            <img  [src]="this.storageService.getUser().pessoa.urlFoto ? bucketBaseUrl + '/' + this.storageService.getUser().pessoa.urlFoto:'assets/imgs/avatar-blank.png'">
                        </div>
                    </ion-col>
                    <ion-col padding-top col-8>
                        <h2 ion-text class="no-margin bold text-white">
                          {{this.storageService.getUser().pessoa.nome | extractWords:2 }}
                        </h2>
                        <span ion-text color="light">{{this.storageService.getUser().pessoa.email}}</span>
                    </ion-col>
                </ion-row>
  
                <ion-row no-padding class="other-data">
                    <ion-col no-padding class="column">
                        <button color="light" (click)="openModalUpdate()" 
                        ion-button icon-left small full color="light" menuClose >
                            <ion-icon name="contact"></ion-icon>
                            Meu Perfil
                        </button>
                    </ion-col>
                    <ion-col no-padding class="column">
                        <button ion-button icon-left small full color="light" menuClose (click)="alertCertezaSair()">
                            <ion-icon name="log-out"></ion-icon>
                            Sair
                        </button>
                    </ion-col>
                </ion-row>
  
            </ion-grid>
  
        </ion-toolbar>
    </ion-header>
  
    <ion-content class="content-side-menu" color="light">
        <ion-list no-lines class="user-list">            
            <button ion-item menuClose class="text-1x"  (click)="openPage('ListPacientesPage')">
              <ion-icon item-left name="medkit" color="light"></ion-icon>
              <span ion-text color="light">Lista de pacientes</span>
          </button>            
          <hr>
          <button ion-item menuClose class="text-1x"  (click)="openPage('ListMensagensPage')">
                <ion-icon item-left name="mail" color="light"></ion-icon>
                <span ion-text color="light">Mensagens Enviadas</span>
            </button>   
            <hr>
            <div *ngIf="usuarioService.verificaTemPermissaoAdmin(storageService.getUser().pessoa.perfis)" >               
                <button ion-item menuClose class="text-1x"  (click)="openPage('ListProfissionalSaudePage')">
                        <ion-icon item-left name="people" color="light"></ion-icon>
                        <span ion-text color="light">Profissionais de Saúde</span>
                    </button>        
                    <hr>
            </div>         
        </ion-list>
    </ion-content>
  
  </ion-menu>