<form *ngIf="formGroup" [formGroup]="formGroup" (ngSubmit)="atualizarPaciente()">
    <ion-grid>
      <ion-row>       
        <ion-col  offset-4 col-6>
            <button  ion-button color="secondary">Atualizar Paciente</button>
          </ion-col>                
      </ion-row>
    </ion-grid>

    
    <ion-grid>
  <ion-row>
    <ion-col col-4>
      <span class="label-informations">
        Cidade
      </span>
    </ion-col>
    <ion-col offset-1 col-5>
      <ion-item>
        <ion-label>Selecione uma cidade</ion-label>
        <ion-select (ionChange)="onChange('cidade',$event)"
        formControlName="cidade" >
          <ion-option 
          [value]="cidade.id"
          [selected]="paciente.pessoa.endereco.cidade.id  === cidade.id" 
          *ngFor="let cidade of cidades;">{{cidade.nome}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-grid>
  <ion-row>
    <ion-col col-4>
      <span class="label-informations">
        Bairro
      </span>
    </ion-col>
    <ion-col offset-1 col-6>
      
      <ion-input type="text" 
      maxLength="50"
      formControlName="bairro"
      (ionChange)="onChange('bairro',$event.value)"></ion-input>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-grid>
  <ion-row>
    <ion-col col-4>
      <span class="label-informations">
        Rua
      </span>
    </ion-col>
    <ion-col offset-1 col-6>
      <ion-input type="text" 
      formControlName="rua"
      (ionChange)="onChange('rua',$event.value)"></ion-input>
    </ion-col>
  </ion-row>
</ion-grid>


<ion-grid>
  <ion-row>
    <ion-col col-4>
      <span class="label-informations">
        Número
      </span>
    </ion-col>
    <ion-col offset-1 col-6>
      <ion-input type="number"      
      formControlName="numero"
      (ionChange)="onChange('numero',$event.value)"></ion-input>
    </ion-col>
</ion-row>
</ion-grid>
<ion-grid>
    <ion-row>
    <ion-col col-4>
      <span class="label-informations">
        CEP
      </span>
    </ion-col>
    <ion-col offset-1 col-6>
      <ion-input type="text" 
      maxLength="8"
      formControlName="cep"
       (ionChange)="onChange('cep',$event.value)"></ion-input>
    </ion-col>
    </ion-row>
    </ion-grid>
</form>