<ion-header>
  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>Mensagens Enviadas</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-grid>
        <ion-row >
          <ion-slides #slidesLinhasCuidado (ionSlideDidChange)="slideChanged()" style="
          height: 112px;">      
              <ion-slide swipeBackEnabled="false"  *ngFor="let linhaCuidado of linhasCuidado" >
                <ion-grid>
                  <ion-row>
                    <ion-col offset-4 col-1>
                      <img style="-moz-transform: scaleX(-1);
                      -o-transform: scaleX(-1);
                      -webkit-transform: scaleX(-1);
                      transform: scaleX(-1);
                      filter: FlipH;"
                      
                       class="cursor-pointer" (click)="prevSlide()"
                       [hidden]="slidesLinhasCuidado.isBeginning()"
                        src="/assets/imgs/arrow-slide.png" >
                    </ion-col>
                    <ion-col  col-2>
                      <img [src]="linhaCuidado.caminhoImagem">
                    </ion-col>
                    <ion-col  col-1>
                        <img 
                        class="cursor-pointer"
                        (click)="nextSlide()"
                         [hidden]="slidesLinhasCuidado.isEnd()"
                         src="/assets/imgs/arrow-slide.png" >
                      </ion-col>                   
                  </ion-row>
                </ion-grid>
                <ion-row class="align-horizontal">
                  {{linhaCuidado.nome}}
                </ion-row>            
              </ion-slide>        
            </ion-slides> 
        </ion-row>
        
      </ion-grid>  

      <ion-searchbar debounce="500" [(ngModel)]="campoPesquisa" 
      placeholder="Busca por nome do profissional de saúde,assunto ou corpo da mensagem"
      (ionInput)="searchPaciente()"></ion-searchbar>
    <div class="panel panel-default panel-table">       
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>                
                <th>Assunto</th>
                <th>Mensagem</th>
                <th>Remetente</th>
                <th>Data de Envio</th>                
                <th>Destinatário</th>                
                <th>Lido</th>                
              </tr>
            </thead>
            <tbody>
              <tr  *ngFor="let mensagem of mensagens;">
                <td  >{{mensagem.assunto}}</td>
                <td  >
                    {{mensagem.mensagem}}
                </td>
                <td  >
                    {{mensagem.nomeProfissionalSaude}}
                </td>
                <td >
                  {{mensagem.dataEnvio}}
                </td>                
                <td >
                    {{exibirDestinatario(mensagem)}}
                  </td>                
                  <td >
                      {{mensagem.numberOfMessageRead}}/{{mensagem.totalPacienteMensagemEnviado}}
                    </td> 
            </tbody>
          </table>
        </div>
      </div>    
    
    <div class="cursor-pointer" *ngIf="mensagens.length > 0" class="panel-body">            
        <nav>
          <ul class="pagination pagination-rounded m-y-0">
            <li  (click)="previousPage()">
              <a  aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li  (click)="changePage(page)" [value]="page" *ngFor="let page of pages;" [class]="page === pageAtual ? 'active':''">
              <a   >{{page + 1}}</a>
            </li>
            
            <li  (click)="nextPage()">
              <a  aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
    </div>
</ion-content>
