<ion-header>
  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>Mensagens Enviadas</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <div class="panel panel-default panel-table">       
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>                
                <th>Assunto</th>
                <th>Mensagem</th>
                <th>Remetente</th>
                <th>Data de Envio</th>                
                <th>Destinatário</th>                
                <th>Lido</th>                
              </tr>
            </thead>
            <tbody>
              <tr  *ngFor="let mensagem of mensagens;">
                <td  >{{mensagem.assunto}}</td>
                <td  >
                    {{mensagem.mensagem}}
                </td>
                <td  >
                    {{mensagem.profissionalSaude.pessoa.nome}}
                </td>
                <td >
                  {{mensagem.dataEnvio | date:'dd/MM/yyyy hh:mm:ss'}}
                </td>                
                <td >
                    {{exibirDestinatario(mensagem)}}
                  </td>                
                  <td >
                      {{mensagem.numberOfMessageRead}}/{{mensagem.totalMensagemEnviado}}
                    </td> 
            </tbody>
          </table>
        </div>
      </div>    
    
    <div class="cursor-pointer" *ngIf="mensagens.length > 0" class="panel-body">            
        <nav>
          <ul class="pagination pagination-rounded m-y-0">
            <li  (click)="previousPage()">
              <a  aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li  (click)="changePage(page)" [value]="page" *ngFor="let page of pages;" [class]="page === pageAtual ? 'active':''">
              <a   >{{page + 1}}</a>
            </li>
            
            <li  (click)="nextPage()">
              <a  aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
    </div>
</ion-content>
