<form (ngSubmit)="atualizarPaciente()">
  <ion-grid>
    <ion-row>       
      <ion-col  offset-4 col-6>
          <button  ion-button color="secondary">Atualizar Paciente</button>
        </ion-col>                
    </ion-row>
  </ion-grid>

<ion-grid>
    <ion-row>
      <ion-col col-4>
        <span class="label-informations">
          Email
        </span>
      </ion-col>
      <ion-col offset-1 col-6>
          <ion-input type="text" 
          [value]="paciente.pessoa.email"
           (ionChange)="onChange('email',$event.value)"></ion-input>
        </ion-col>
    </ion-row>
  </ion-grid>
  
  <ion-grid *ngFor="let telefone of telefones;let i = index">
    <ion-row>
        <ion-col col-4>
            <span class="label-informations">
                Telefone {{i + 1}}                 
              </span>             
        </ion-col>
        <ion-col offset-1 col-5>         
                  <ion-input type="text" 
                  [value]="telefone.numero"
                  (ionBlur)="onChange('numero',$event.value)"></ion-input>          
                </ion-col>            
                  <ion-col  col-2>
                    <button type="button"  (click)="alertRemoverTelefone(telefone.id)"
                    ion-button icon-only>
                    <ion-icon  color="danger" ios="ios-remove" md="md-remove"></ion-icon>
                  </button>
                  </ion-col>        
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-col offset-3 col-8>
      <button type="button" (click)="presentPromptAdicionarTelefone()"ion-button >Adicionar Telefone</button>
    </ion-col>
  </ion-grid>
  </form>