<!--
  Generated template for the ListPacientesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>Lista de pacientes</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>   
    <ion-searchbar  [(ngModel)]="pacienteNome" placeholder="nome do paciente"
    (ionInput)="findPacientes(pacienteNome)"></ion-searchbar>

    <div class="panel panel-default panel-table">       
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th style="width: 32px"></th>                
                <th>Nome</th>
                <th>Email</th>
                <th>Tipo Sanguíneo</th>
                <th>Cidade</th>
                <th style="width: 15%">Data de Nascimento</th>
                <th>Status</th>
                <th style="width: 5%"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let paciente of pacientes;">
                
                <td>
                  <img class="img-circle" src="img/avatars/1.jpg" alt="" width="32" height="32">
                </td>
                <td>{{paciente?.pessoa.nome}}</td>
                <td>
                    {{paciente?.pessoa.email}}
                </td>
                <td>
                  <span class="flag-icon flag-icon-us">
                      {{paciente?.tipoSanguineo?.tipoSanguineo}}
                  </span>
                </td>
                <td>{{paciente?.pessoa?.endereco?.cidade?.nome}}</td>
                <td>
                  {{paciente?.pessoa?.dataNascimento | date:'dd/MM/yyyy'}}
                </td>
                <td>
                  <span class="label label-outline-success">Active</span>
                </td>
                <td>
                  <div class="btn-group">
                    <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Action
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                      <li><a href="#">Action</a></li>
                      <li><a href="#">Another action</a></li>
                      <li><a href="#">Something else here</a></li>
                      <li role="separator" class="divider"></li>
                      <li><a href="#">Separated link</a></li>
                    </ul>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    
    <!-- <div *ngFor="let page of pages">{{page + 1}}</div> -->
    <div class="panel-body">            
        <nav>
          <ul class="pagination pagination-rounded m-y-0">
            <li (click)="previousPage()">
              <a  aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li  (click)="changePage(page)" [value]="page" *ngFor="let page of pages;" [class]="page === pageAtual ? 'active':''">
              <a   >{{page + 1}}</a>
            </li>
            
            <li (click)="nextPage()">
              <a  aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
    </div>
</ion-content>
