page-list-pacientes {
  //MY CSS 

  .fix-position-col{
    top: 60px;
    left: 100px;
  }
 
  
  .count-users{
    padding-left: 15px;
    padding-right: 15px;
    position: relative;    
    font-size: 13px;
  }

  //END MY CSS
  @import "theme/table-list";
   
}
    