<ion-header>

  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>Lista de pacientes</ion-title>        
    <ion-buttons end>
        <button  ion-button icon-only >
          Enviar Mensagem 
          &nbsp;
          <img style="width: 70%;height: 70%;"
           [src]="returnPathImageByLinhaCuidadoId()"> &nbsp;
          <ion-icon color="sun" name="mail"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding> 
    <ion-grid>
      <ion-row >
        <ion-slides #slidesLinhasCuidado (ionSlideDidChange)="slideChanged()" style="
        height: 112px;">      
            <ion-slide  *ngFor="let linhaCuidado of linhasCuidado" >
              <ion-grid>
                <ion-row>
                  <ion-col offset-4 col-1>
                    <img class="arrow-slide" (click)="slidesLinhasCuidado.slidePrev()"
                     [hidden]="slidesLinhasCuidado.isBeginning()"
                      src="/assets/imgs/arrow-left.png" >
                  </ion-col>
                  <ion-col  col-2>
                    <img [src]="linhaCuidado.caminhoImagem">
                  </ion-col>
                  <ion-col  col-1>
                      <img 
                      class="arrow-slide"
                      (click)="slidesLinhasCuidado.slideNext()"
                       [hidden]="slidesLinhasCuidado.isEnd()"
                       src="/assets/imgs/arrow-right.png" >
                    </ion-col>
                </ion-row>
              </ion-grid>
              <ion-row class="align-horizontal">
                {{linhaCuidado.nome}}
              </ion-row>
            
            </ion-slide>        
          </ion-slides> 

      </ion-row>
    </ion-grid>
    <ion-searchbar  [(ngModel)]="campoPesquisa" 
    placeholder="Busca por nome,cpf ou email do paciente"
    (ionInput)="searchPaciente()"></ion-searchbar>
    <div class="panel panel-default panel-table">       
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th style="width: 32px"></th>                
                <th>Nome</th>
                <th>Email</th>
                <th>CPF</th>
                <th>Cidade</th>
                <th style="width: 15%">Data de Nascimento</th>
                <th>Status</th>
                <th style="width: 5%"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let paciente of pacientes;">
                
                <td style="padding: 0; ">
                  <img 
                  (click)="openModal(paciente)" class="img-circle"
                   [src]="paciente?.pessoa?.urlFoto ? bucketBaseUrl + '/' + paciente?.pessoa?.urlFoto: 'assets/imgs/avatar-blank.png'"  width="1400" height="30">
                </td>
                <td>{{paciente?.pessoa.nome}}</td>
                <td>
                    {{paciente?.pessoa.email}}
                </td>
                <td>
                  <span class="flag-icon flag-icon-us">
                      {{paciente?.pessoa?.cpf  | formatCpf}}
                  </span>
                </td>
                <td>{{paciente?.pessoa?.endereco?.cidade?.nome}}</td>
                <td>
                  {{paciente?.pessoa?.dataNascimento | date:'dd/MM/yyyy'}}
                </td>
                <td>
                  <span *ngIf="paciente.pessoa.perfis[0];else inativo" class="label label-outline-success">Ativo</span>
                  <ng-template #inativo>
                    <span  class="label label-outline-danger">Inativo</span>
                  </ng-template>
                </td>
                <td>
                  <div  [class]="paciente.actionOpened ? 'btn-group open': 'btn-group'">
                    <button (click)="openActions(paciente)" type="button" class="btn btn-default btn-sm dropdown-toggle"
                     data-toggle="dropdown" 
                     aria-haspopup="true" 
                     aria-expanded="false">
                      Ações
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                      <li><a (click)="openModal(paciente)">Visualizar Paciente</a></li>
                      <li><a href="#">Enviar Mensagem</a></li>
                      <li><a href="#">Editar dados</a></li>
                    </ul>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>    
    
    <div *ngIf="pacientes.length > 0" class="panel-body">            
        <nav>
          <ul class="pagination pagination-rounded m-y-0">
            <li (click)="previousPage()">
              <a  aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li  (click)="changePage(page)" [value]="page" *ngFor="let page of pages;" [class]="page === pageAtual ? 'active':''">
              <a   >{{page + 1}}</a>
            </li>
            
            <li (click)="nextPage()">
              <a  aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
    </div>
</ion-content>
