<ion-grid>
    <ion-row>
      <ion-col col-5>
        <span class="label-informations">
          Cidade
        </span>
      </ion-col>
      <ion-col   col-6>
        <p class="content-informations">
          {{paciente.pessoa.endereco.cidade.nome}}
        </p>            
      </ion-col>
    </ion-row>
  </ion-grid>

<ion-grid>
<ion-row>
  <ion-col col-5>
    <span class="label-informations">
      Bairro
    </span>
  </ion-col>
  <ion-col   col-6>
    <p class="content-informations">
      {{paciente.pessoa.endereco.bairro}}
    </p>            
  </ion-col>
</ion-row>
</ion-grid>

<ion-grid>
  <ion-row>
    <ion-col col-5>
      <span class="label-informations">
        Rua
      </span>
    </ion-col>
    <ion-col   col-6>
      <p class="content-informations">
        {{paciente.pessoa.endereco.logradouro}}
      </p>            
    </ion-col>
  </ion-row>
</ion-grid>


<ion-grid>
<ion-row>
  <ion-col col-5>
    <span class="label-informations">
      Número
    </span>
  </ion-col>
  <ion-col   col-6>
    <p class="content-informations">
      {{paciente.pessoa.endereco.numero}}
    </p>            
  </ion-col>
</ion-row>
</ion-grid>

<ion-grid>
<ion-row>
  <ion-col col-5>
    <span class="label-informations">
      CEP
    </span>
  </ion-col>
  <ion-col   col-6>
    <p class="content-informations">
      {{paciente.pessoa.endereco.cep}}
    </p>            
  </ion-col>
</ion-row>
</ion-grid>

