<form (ngSubmit)="editarPaciente()">
    <ion-grid>
      <ion-row>       
        <ion-col  offset-4 col-6>
            <button  ion-button color="secondary">Atualizar Paciente</button>
          </ion-col>                
      </ion-row>
    </ion-grid>
 
 <ion-grid *ngFor="let pacienteLinhaCuidado of pacienteLinhasCuidado;let i =  index">
  <ion-row>
    <ion-col col-4>
      <span class="label-informations">
        Linha de Cuidado {{i + 1}}
      </span>
    </ion-col>   
    <ion-col offset-1 col-5>
      <ion-select   >
        <div *ngFor="let linhaCuidado of linhasCuidado;">
          <ion-option  
           *ngIf="!verifyIfExistisPacienteLinhasCuidado(linhaCuidado.id,pacienteLinhaCuidado)"
           [value]="linhaCuidado.id" 
          [selected]="pacienteLinhaCuidado.linhaCuidado.id === linhaCuidado.id"
          >{{linhaCuidado.nome}}</ion-option>
        </div>
      </ion-select>
      <button type="button" *ngIf="pacienteLinhasCuidado.length !== 1" (click)="alertRemoverPacienteLinhaCuidado(pacienteLinhaCuidado.id)"
       ion-button icon-only>
          <ion-icon  color="danger" ios="ios-remove" md="md-remove"></ion-icon>
      </button>
    </ion-col>
  </ion-row>
</ion-grid> 

<ion-grid>
  <ion-row>
    <ion-col col-4>
      <span class="label-informations">
        Tipo Sanguineo
      </span>
    </ion-col>
    <ion-col offset-1 col-5>
      <ion-select (ionChange)="onChange('tipoSanguineo',$event)" 
       >
        <ion-option  *ngFor="let tipoSanguineo of tiposSanguineo;" [value]="tipoSanguineo.id" 
        [selected]="paciente.tipoSanguineo.id === tipoSanguineo.id"
        >{{tipoSanguineo.tipoSanguineo}}</ion-option>
      </ion-select>
    </ion-col>
  </ion-row>
</ion-grid>

  <ion-grid>
    <ion-col offset-3 col-8>
      <button type="button" (click)="alertEscolhaNovaLinhaCuidado()"ion-button >Adicionar Nova Linha de cuidado</button>
    </ion-col>
  </ion-grid>
  </form>
