form-dados-medicos {
    ion-input{
        background: #fbff00;   
        width: 102%;    
        max-width: 121%;
    }
    ion-select{
        width: 121%;
        background: yellow;
        max-width: 121%;       
    }
   
}
