<ion-header>  
    <ion-segment  [(ngModel)]="activeSegment" color="secondary">
      <ion-segment-button [disabled]="editMode"  value="pessoais">
        <span>
          Dados Pessoais
        </span>
        <ion-icon name="person"></ion-icon>
      </ion-segment-button>
  
      <ion-segment-button *ngIf="typeObjectToUpdate === 'paciente'" [disabled]="editMode" value="medicos">
        <span>
          Dados Médicos
        </span>
        <ion-icon name="medkit"></ion-icon>
      </ion-segment-button>
  
      <ion-segment-button [disabled]="editMode" value="endereco">
        <span>
          Endereço
        </span>
        <ion-icon name="pin"></ion-icon>
      </ion-segment-button>
  
      <ion-segment-button [disabled]="editMode" value="contato">
        <span>
          Contatos
        </span>
        <ion-icon name="call"></ion-icon>
      </ion-segment-button>
    </ion-segment>
    <ion-buttons start>
      <button class="btn-close-modal"  (click)="closeModal()"  ion-button icon-only>
        <ion-icon color="danger" name="close"></ion-icon>
      </button>
    </ion-buttons >
    
</ion-header>

<ion-content>    
  <ion-grid>
    <ion-col style="text-align: center;" offset-3 col-6>
        <div (mouseenter) ="passMouseImage(true)" (mouseleave)="passMouseImage(false)"  class="profilepic-border profile-epic">
          <button  *ngIf="showCameraIcon" (click)="getGalleryPicture()" icon-only ion-button class="camera-button">
            <ion-icon name="camera"></ion-icon>
          </button>
    
          <img  class="align-horizontal" 
          [src]="returnPhoto()">      
        </div>
    </ion-col>
  </ion-grid>
  <div  *ngIf="objectToUpdate.pessoa.perfis && !objectToUpdate.pessoa.perfis[0];else ativo">
    <ion-grid>
      <ion-row>
        <ion-col offset-5 col-8>
          <h1 class="title-status text-white">
            Inativo    
          </h1> 
          <ion-icon class="icon-status-user"
            color="danger" name="radio-button-on"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>    
  <ng-template #ativo>
    <ion-grid class="grid-header">
        <ion-row>  
          <ion-col offset-5 col-8>
              <h1 class="title-status text-white">
                {{usuarioService.checkUserIsOnline(objectToUpdate.pessoa.ultimoAcesso) ? 'Online':'Offline'}}
              </h1>
              <ion-icon class="icon-status-user"
            [color]="usuarioService.checkUserIsOnline(objectToUpdate.pessoa.ultimoAcesso) ? 'secondary':'primary'" name="radio-button-on"></ion-icon>
          </ion-col>
            <ion-grid class="grid-status-user">
              <ion-col *ngIf="!usuarioService.checkUserIsOnline(objectToUpdate.pessoa.ultimoAcesso)" 
              offset-3 col-8>          
                  <p *ngIf="objectToUpdate.pessoa.ultimoAcesso"  
                  style="color: white;">
                      Último acesso em 
                      {{objectToUpdate.pessoa.ultimoAcesso | date:'dd/MM/yyyy hh:mm:ss a' }}
                  </p>
                  <p *ngIf="!objectToUpdate.pessoa.ultimoAcesso" style="color: white;">
                    Usuário ainda não entrou no aplicativo
                  </p>
                
              </ion-col>
            </ion-grid>
          </ion-row>    
        </ion-grid>        
          </ng-template>

          <ion-grid>
              <ion-row>
                <ion-col  offset-4 col-6>
                  <button *ngIf="!editMode" (click)="setEditMode()" 
                  type="button" ion-button color="primary">Editar campos</button>
                </ion-col>                        
              </ion-row>
            </ion-grid>

            <div class="content">
          

              <div *ngIf="!editMode">
                <dados-pessoais *ngIf="activeSegment === 'pessoais'"
                [objectToUpdate]="objectToUpdate" [editMode]="editMode" ></dados-pessoais>
                <dados-medicos *ngIf="activeSegment === 'medicos' && typeObjectToUpdate === 'paciente'" [objectToUpdate]="objectToUpdate" ></dados-medicos>
                <dados-endereco *ngIf="activeSegment === 'endereco'" [objectToUpdate]="objectToUpdate" ></dados-endereco>
                <dados-contato *ngIf="activeSegment === 'contato'" [objectToUpdate]="objectToUpdate" ></dados-contato>
              </div>
              <div *ngIf="editMode">
                <form-dados-pessoais *ngIf="activeSegment === 'pessoais'"
                 [objectToUpdate]="objectToUpdate"></form-dados-pessoais>
                 <form-dados-medicos *ngIf="activeSegment === 'medicos'"
                    [objectToUpdate]="objectToUpdate"></form-dados-medicos>

                    <form-dados-endereco *ngIf="activeSegment === 'endereco'"
                    [objectToUpdate]="objectToUpdate"></form-dados-endereco>   
                    
                    <form-dados-contato *ngIf="activeSegment === 'contato'"
                    [objectToUpdate]="objectToUpdate"></form-dados-contato>   
              </div>
            </div>
</ion-content>