page-modal-perfil { 
.img-paciente{
    border-radius: 50%;        
    margin-top: 20px;
    height: 160px;
}  

ion-segment-button > span{
    padding: 10px;
}
.segment-md-secondary .segment-button {
    color: white;
}
ion-segment{
    background: darken(color($colors,primary),10%);
}
.content{
        background:lighten(color($colors,primary),25%);
        height: 100%;
        padding-left:25px;              
}

.grid-header{
    height: 100px;
}
.icon-status-user{
    position: relative;
    bottom: 34px;
    right: 26px;
}
.grid-status-user{        
    position: relative;
    bottom: 47px;
    }
    .header-md::after{
        content: unset;
    } 
}
