dados-pessoais {   
    .label-informations{
        color:white;
        font-size: 20px;
        font-weight: bolder;
    }
    .content-informations{
        color:white;
        font-size: 20px;
        display: inline;
    }
}
