@import "theme/helpers";
@import "theme/variables";

.align-horizontal {
    @include align-horizontal-center();
}

.align-vertical {
    @include align-vertical-center();
}
.flip-image{
    @include flip-image();
}
.action-sheet-group{
    overflow: hidden;
  }
.cursor-pointer{
    cursor: pointer;
}
.text-center{
    text-align: center;
}
.btn-close-modal{
    position: relative;
    bottom: 3px;
    right: 5px;
}
//DADOS DO PERFIL PACIENTE
.label-informations{
    color:white;
    font-size: 20px;
    font-weight: bolder;
}

.content-informations{
    color:white;
    font-size: 20px;
    display: inline;
}
.llustration-img{
    left: 5px;
    position: relative;
    top: 2px;    
}
.content-md hr { 
    height: 2px;
    background-color: #ffffff;
}
.ion-fab-position-fixed{
    right:  25px;
  }  
  

ion-title {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 55px 1px;
    width: 100%;
    height: 100%;
    text-align: center;
    background:color($colors, primary);    
}

.list-md[no-lines] .item-block, .list-md[no-lines] ion-item-options, .list-md[no-lines] .item .item-inner
, .list-ios[no-lines] .item-block, .list-md[no-lines] ion-item-options, .list-md[no-lines] .item .item-inner {
    border-width: 0;
    background: color($colors, primary);
}
.button-md-light
,.button-ios-light {
    color: white;
    background-color: darken(color($colors, primary),20%);
}

.ion-md-menu,.ion-ios-menu,.toolbar-title-md,.toolbar-title-ios,
.ion-md-arrow-back,.ion-ios-arrow-back,.ion-md-more,.ion-ios-more {
    color:#ffffff;
}
.content-md,.content-ios {
    background-color: lighten(color($colors,primary),35%);
    
}

map {
    display: block;
    width: 100%;
    height: 100%;
}

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.line {
    display: block;
    position: relative;
    margin-bottom: 5px;
    margin-top: 5px;
    box-shadow: 0 1px 0px rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 1px;
}

.alert-checkbox-label {
    white-space: normal !important;
}

//SEGMENT
.segment-md-secondary .segment-button.segment-activated,
 .segment-ios-secondary .segment-button.segment-activated{
    border-color: color($colors, light);
    color: color($colors, light);
}


//END SEGMENT
 
  //TOASTS

.toast-md .toast-wrapper,
.toast-ios .toast-wrapper {
  background-color: rgb(19, 172, 19);
  font-weight: bold;
  color:black;
  text-align: center;
}

ion-toast.toast-ios.toast-error div,
ion-toast.toast-md.toast-error div {
  background-color: #f53d3d;

  }

  ion-toast.toast-ios.toast-attention div,
  ion-toast.toast-md.toast-attention div {
  background-color: #ff9900

  }


  .ion-fab-position-fixed{
    right:  25px;
  }  







