<ion-header>  
    <ion-segment [(ngModel)]="activeSegment" color="secondary">
      <ion-segment-button value="pessoais">
        <span>
          Dados Pessoais
        </span>
        <ion-icon name="person"></ion-icon>
      </ion-segment-button>
  
      <ion-segment-button value="medicos">
        <span>
          Dados Médicos
        </span>
        <ion-icon name="medkit"></ion-icon>
      </ion-segment-button>
  
      <ion-segment-button value="endereco">
        <span>
          Endereço
        </span>
        <ion-icon name="pin"></ion-icon>
      </ion-segment-button>
  
      <ion-segment-button value="contato">
        <span>
          Contatos
        </span>
        <ion-icon name="call"></ion-icon>
      </ion-segment-button>
    </ion-segment>
    <ion-buttons start>
      <button class="btn-close"  (click)="closeModal()"  ion-button icon-only>
        <ion-icon color="danger" name="close"></ion-icon>
      </button>
    </ion-buttons >
    
</ion-header>

<ion-content>    
  <ion-grid>
    <ion-col style="text-align: center;" offset-3 col-6>
      <img class="align-horizontal img-paciente" [src]="paciente?.pessoa?.urlFoto ? bucketBaseUrl + '/' + paciente?.pessoa?.urlFoto: 'assets/imgs/avatar-blank.png'">      
    </ion-col>
  </ion-grid>
  <div  *ngIf="paciente.pessoa.perfis && !paciente.pessoa.perfis[0];else ativo">
    <ion-grid>
      <ion-row>
        <ion-col offset-5 col-8>
          <h1 class="title-status text-white">
            Inativo    
          </h1> 
          <ion-icon class="icon-status-user"
            color="danger" name="radio-button-on"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>    
  <ng-template #ativo>
    <ion-grid class="grid-header">
        <ion-row>  
          <ion-col offset-5 col-8>
              <h1 class="title-status text-white">
                {{usuarioService.checkUserIsOnline(paciente.pessoa.ultimoAcesso) ? 'Online':'Offline'}}
              </h1>
              <ion-icon class="icon-status-user"
            [color]="usuarioService.checkUserIsOnline(paciente.pessoa.ultimoAcesso) ? 'secondary':'primary'" name="radio-button-on"></ion-icon>
          </ion-col>
            <ion-grid class="grid-status-user">
              <ion-col *ngIf="!usuarioService.checkUserIsOnline(paciente.pessoa.ultimoAcesso)" 
              offset-3 col-8>          
                  <p *ngIf="paciente.pessoa.ultimoAcesso"  
                  style="color: white;">
                      Último acesso em 
                      {{paciente.pessoa.ultimoAcesso | date:'dd/MM/yyyy hh:mm:ss a' }}
                  </p>
                  <p *ngIf="!paciente.pessoa.ultimoAcesso" style="color: white;">
                    Usuário ainda não entrou no aplicativo
                  </p>
                
              </ion-col>
            </ion-grid>
          </ion-row>    
        </ion-grid>
        
          </ng-template>
          <form (ngSubmit)="editarPaciente()">
            <ion-grid>
              <ion-row>
                <ion-col *ngIf="!editMode" offset-4 col-6>
                  <button (click)="setEditMode()" 
                  type="button" ion-button color="primary">Editar campos</button>
                </ion-col>
                <ion-col *ngIf="editMode" offset-4 col-6>
                    <button  ion-button color="secondary">Atualizar Paciente</button>
                  </ion-col>                
              </ion-row>
            </ion-grid>
            

            <div class="content">
             <!--  <ion-buttons end>
                <button style="position: relative;bottom: 39px;"
                 ion-button (click)="setEditarCampos()" type="button">editar campos</button>
                <button style="position: relative;bottom: 39px;"
                color="primary"
                ion-button
                
                type="submit">Atualizar Paciente</button>
              </ion-buttons >     -->

              <div *ngIf="!editMode">
                <dados-pessoais *ngIf="activeSegment === 'pessoais'"
                [paciente]="paciente" [editMode]="editMode" ></dados-pessoais>
                <dados-medicos *ngIf="activeSegment === 'medicos'" [paciente]="paciente" ></dados-medicos>
                <dados-endereco *ngIf="activeSegment === 'endereco'" [paciente]="paciente" ></dados-endereco>
                <dados-contato *ngIf="activeSegment === 'contato'" [paciente]="paciente" ></dados-contato>
              </div>
              <div *ngIf="editMode">
                <form-dados-pessoais *ngIf="activeSegment === 'pessoais'"
                 [paciente]="paciente"></form-dados-pessoais>
              </div>
              
              
            </div>
          </form>
          
</ion-content>