page-modal-perfil-paciente {
    .scroll-content{
        overflow: hidden;
    }
    .header{
        background: black;
        height: 50px;
        width: 100%;
        text-align: center;    
       }
    .title-header,.title-status{    
        color: white;
        font-weight: bolder;
        font-size: 23px;   
        }
    .close-icon{
        font-size: 24px;
        cursor: pointer;
        } 
    .img-paciente{
        border-radius: 50%;        
        margin-top: 20px;
        height: 160px;
    }  
    ion-segment-button > span{
        padding: 10px;
    }
    .segment-md-secondary .segment-button {
        color: white;
    }
    ion-segment{
        background: black;
    }
    .content{
        background:black;
         height: 100%;
         padding-left:25px;              
    }
    
}
