<ion-content>  
  <ion-segment [(ngModel)]="activeSegment" color="secondary">
    <ion-segment-button value="pessoais">
      <span>
        Dados Pessoais
      </span>
      <ion-icon name="person"></ion-icon>
    </ion-segment-button>

    <ion-segment-button value="medicos">
      <span>
        Dados Médicos
      </span>
      <ion-icon name="medkit"></ion-icon>
    </ion-segment-button>

    <ion-segment-button value="endereco">
      <span>
        Endereço
      </span>
      <ion-icon name="pin"></ion-icon>
    </ion-segment-button>

    <ion-segment-button value="contato">
      <span>
        Contatos
      </span>
      <ion-icon name="call"></ion-icon>
    </ion-segment-button>
  </ion-segment>
  <ion-grid>
    <ion-col style="text-align: center;" offset-3 col-6>
      <img class="align-horizontal img-paciente" [src]="paciente?.pessoa?.urlFoto ? bucketBaseUrl + '/' + paciente?.pessoa?.urlFoto: 'assets/imgs/avatar-blank.png'">      
    </ion-col>
  </ion-grid>
  <ion-grid class="grid-header">
    <ion-row>      
      <ion-col offset-5 col-8>
        <h1 class="title-status text-white">
          {{usuarioService.checkUserIsOnline(paciente.pessoa.ultimoAcesso) ? 'Online':'Offline'}}
        </h1>
        <ion-icon class="icon-status-user"
      [color]="usuarioService.checkUserIsOnline(paciente.pessoa.ultimoAcesso) ? 'secondary':'primary'" name="radio-button-on"></ion-icon>
    </ion-col>
      <ion-grid class="grid-status-user">
        <ion-col *ngIf="!usuarioService.checkUserIsOnline(paciente.pessoa.ultimoAcesso)" 
        offset-3 col-8>          
            <p *ngIf="paciente.pessoa.ultimoAcesso"  
            style="color: white;">
                Último acesso em 
                {{paciente.pessoa.ultimoAcesso | date:'dd/MM/yyyy hh:mm:ss a' }}
            </p>
            <p *ngIf="!paciente.pessoa.ultimoAcesso" style="color: white;">
              Usuário ainda não entrou no aplicativo
            </p>
          
        </ion-col>
      </ion-grid>
    </ion-row>    
  </ion-grid>
  <div class="content">
    <dados-pessoais *ngIf="activeSegment === 'pessoais'" [paciente]="paciente" ></dados-pessoais>
    <dados-medicos *ngIf="activeSegment === 'medicos'" [paciente]="paciente" ></dados-medicos>
    <dados-endereco *ngIf="activeSegment === 'endereco'" [paciente]="paciente" ></dados-endereco>
    <dados-contato *ngIf="activeSegment === 'contato'" [paciente]="paciente" ></dados-contato>
       
  
  </div>
</ion-content>